.help-block{
    color:red;
}
#group_select_home_send_from #loading-container ,
#group_select_home_send_from #loading {
    height: 20px;
    position: relative;
    width: 20px;
    border-radius: 100%;
    margin: 0px auto;
}
#group_select_home_send_to #loading-container ,
#group_select_home_send_to #loading {
    height: 20px;
    position: relative;
    width: 20px;
    border-radius: 100%;
    margin: 0px auto;
}
#login-form-loading #loading-container ,
#login-form-loading #loading {
    height: 20px;
    position: relative;
    width: 20px;
    border-radius: 100%;
    margin: 0px auto;
}
#print_table_shipment{display: none}
@media print {
    body * {
        visibility: hidden;
    }
    #shipment-detail-modal, #shipment-detail-modal * {
        visibility: visible;
    }
    #shipment-detail-modal {
        position: absolute;
        left: 0;
        top: 0;
    }
}
#error_login{color: red;margin-top: 5px;font-size: 16px;font-weight: bold;}
#error_captcha{position: inherit;margin: 0 15px}
#error_check_rule{position: inherit;margin: 0 15px}
#check_ras_home_readonly{pointer-events: none;}
#reminder{color: red;font-size: 11px;font-weight: bold;}
#popup_flash{position: absolute;left: 38%;}
#img_loading > img{max-width: 50px;}
#import_total_failed{color:red}